  
<div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class= "w-100 p-3 center" src="/images/logo.png" alt="cooking logo">
                    <h1 class="font-weight-light">Cooking at Home</h1>
                    <p>Picture of Recipe</p>
                    {{!-- <a class="btn btn-primary" href="#!">Call to Action!</a> --}}
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
              {{!-- Need to change Users to Recipe (coming from seeds/userData.json) --}}
                {{#each recipes as |recipe|}}
                <a href="/recipe/{{recipe.id}}">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">{{recipe.name}}</h2>
                            {{#each recipe.ingredients as |ingredient|}}
                            <p class="card-text">{{ingredient}}</p>
                            {{/each}}
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Recipe Card</a></div>
                    </div>
                </div>
                </a>
                {{/each}}
            </div>
        </div>
        