{{!-- Create An Account --}}
<section class="vh-100 bg-image"
style="background-image: url('https://cdn.pixabay.com/photo/2016/02/05/15/34/pasta-1181189_960_720.jpg');">
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 align-items-center">
        <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5 bg-white justify-content-center  ">
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>
            <form>
                <div class="form-outline mb-4">
                <input type="text" id="create-name" placeholder="Your Name"class="form-control form-control-lg" />
                <label class="form-label" for="create-name"></label>
                </div>

                <div class="form-outline mb-4">
                <input type="email" id="create" placeholder="Your Email" class="form-control form-control-lg" />
                <label class="form-label" for="create-email"></label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" id="create-password" placeholder="Enter Password" class="form-control form-control-lg" />
                    <label class="form-label" for="create-password"></label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" id="approve-password" placeholder="Re-enter Password" class="form-control form-control-lg" />
                    <label class="form-label" for="approve-password"></label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                </label>
                </div>

                <div class="d-flex justify-content-center">
                <button type="submit"class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                    class="fw-bold text-body"><u>Login here</u></a></p>

            </form>

            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
</section>
<script type="text/javascript" src="/js/signup.js"></script>
<script type="style sheet" src="/css/style.css"></script>